.resultcontainer{
    width:100%;
    padding:20px;
    display: flex;

color:rgb(7,26,46) ;
}


.resultleft{
    flex: 1;
    
    border-right:1px solid rgba(54, 54, 54, 0.411)
}
.resultright{
    flex: 1;
   
}

.resulttitle{
    display:flex;
    flex-direction: column;
    gap:5px;
    width: 80%;
}
.resultform{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.uploadcontainer{
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 80%;
    height: 200px;
    box-shadow: -1px 0px 16px 0px rgba(5, 5, 5, 0.2);
    
}