.navcontainer {
	height: 100%;
	width: 20%;
	background-color: rgba(21, 122, 255, .0.5);
	border-right: 1px solid rgba(83, 83, 83, 0.233);

	display: flex;
	flex-direction: column;
}
.active {
	cursor: pointer;
	display: flex;
	align-items: center;
}
.noactive {
	color: rgba(61, 61, 61, 0.6);
	cursor: pointer;
	display: flex;
	align-items: center;
}
.alllinkactive {
	border-radius: 5px;
	color: rgba(21, 122, 255);
	transition: .2s ease-in-out;
}
.navigationlist {
	background-color: white;

	flex: 3;

	padding: 10px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
	color: rgba(61, 61, 61, 0.6);
	transition: 5s ease-in-out;
}
.logo {
	flex: 1.5;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(6, 13, 29);
	flex-direction: column;
	gap: 20px;
}
